.todo-container{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    line-height: 50px;
    text-align: center;
}
.todo-container__task-id{
    float: left;
    width: 50px;
}
.todo-container__task-title{
    float: left;
}
.todo-container__task-check-box{
    float: right;
    width: 50px;
}
.todo-container__task-delete{
    float: right;
    width: 50px;
}